<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://identity.netlify.com">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>True North Dog Training - Jacelyn Young</title>
        <meta name="description" content="Jacelyn, ADT–IAABC, is a training coach helping teams find direction with Science-Based, Evidence-informed, &amp; Certified Training! Servicing the Greater Seattle Area">

        <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
        <meta property="og:title"              content="True North Dog Training" />
        <meta property="og:description"        content="Jacelyn ADT-IAABC is a training coach helping teams find direction with Science-Based, Evidence-informed, &amp; Certified Training!
        Servicing Seattle Area" />
        <meta property="og:image"              content="/images/TrueNorthOGImage.jpg" />
        <meta name="generator" content="{{ eleventy.generator }}">
        <style>
            {% include "src/css/inline.css" %}
        </style>
        <script async src="//www.instagram.com/embed.js"></script>
    </head>
    <body>
        <header>
            <a href="/">
                <div class="logo"></div>
            </a>
            {% if metadata.navLinks | length %}
                <nav>
                    <div class="navContainer">
                        <div class="mobileMenu" id="mobileMenuToggle">
                        <img src="/images/menu.svg" alt="">
                        <span>Menu</span>
                        </div>
                        <div class="pagesContainer" id="navMenu">
                            {# {% set navPages = collections.all | eleventyNavigation %}
                            {% macro renderNavListItem(entry) -%}
                            <li {% if entry.url = page.url %} class="my-active-class"{% endif %}>
                                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                                {%- if entry.children.length -%}
                                <ul>
                                {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
                                </ul>
                            {%- endif -%}
                            </li>
                            {%- endmacro %}

                            <ul>
                                {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
                            </ul> #}
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/#services">Services</a>
                                    <ul>
                                        <li><a href="/privatelessons">Private Lessons</a></li>
                                        <li><a href="/supplemental">Supplemental Services</a></li>
                                        <li><a href="/virtual">Virtual Programs</a></li>
                                        <li><a href="/workshops">Workshops & Webinars</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a href="https://docs.google.com/forms/d/1Pgmaoetyuctum-j0JicVIQ2Si77JlqbMHSs3o43HO_g/" class="noDecoration">
                            <button class="book">Book Training</button>
                        </a>
                    </div>
                </nav>
            {% endif %}
            <div class="mobileNavBackdrop" id="navBackdrop"></div>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div class="socialMedia">
                <a href="https://www.instagram.com/truenorthdogs/" target="_blank"><img src="/images/ig.svg" alt="" class="socialMediaIcon"></a>
                <a href="https://www.facebook.com/TrueNorthDogTraining" target="_blank"><img src="/images/fb.svg" alt="" class="socialMediaIcon"></a>
            </div>
            <small>
                &#169; True North Dog Training LLC <span id="year">2026</span>
            </small>
        </footer>
    </body>
    <script>
        //process instagram embeds
        window.addEventListener('load', function() {
            if (window.instgrm) {
                window.instgrm.Embeds.process();
            } else {
                console.log("no window.instagram");
            }
        });

        //current year for footer
        document.getElementById("year").innerHTML = new Date().getFullYear();

        // mobile nav activation
        var mobileNavBackdrop = document.getElementById("navBackdrop");
        var mobileNavMenuToggle = document.getElementById("mobileMenuToggle");
        var mobileNavMenu = document.getElementById("navMenu");

        var isMenuOpen = false;

        //open menu
        mobileNavMenuToggle.onclick = function(){
            if (isMenuOpen === false){
            openMenu();
            } else {
            closeMenu();
            }
        };

        //close menu
        mobileNavBackdrop.onclick = function(){
            if (isMenuOpen === true){
            closeMenu();
            }
        };

        function openMenu(){
            mobileNavMenu.classList.add("active");
            mobileNavBackdrop.classList.add("active");
            console.log("nav open");
            isMenuOpen = true;
        }

        function closeMenu(){
            mobileNavMenu.classList.remove("active");
            mobileNavBackdrop.classList.remove("active");
            console.log("nav close");
            isMenuOpen = false;
        }
    </script>
</html>