---
permalink: 404.html
eleventyExcludeFromCollections: true
imageURL: /images/404.jpg
layout: layouts/post.njk
---

<div class="px-4 py-12 text-center bg-white sm:py-16" style="margin-bottom: 96px;">
    <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800">Treats Not Found</h1>
    <div class="max-w-2xl mx-auto prose text-center prose-slate">
        <p>The page you requested could not be found.</p>
        <a href="/" class="noDecoration mb-96">
            <button class="secondary">Return Home</button>
        </a>
    </div>
</div>

