<footer>
  <div class="socialMedia">
    <a href="https://www.instagram.com/truenorthdogs/" target="_blank"><img src="/_includes/assets/img/ig.svg" alt="" class="socialMediaIcon"></a>
    <a href="https://www.facebook.com/TrueNorthDogTraining" target="_blank"><img src="/_includes/assets/img/fb.svg" alt="" class="socialMediaIcon"></a>
  </div>
  <small>
    &#169; True North Dog Training LLC {% year %}
  </small>
</footer>
