<footer class="container">
  <div class="socialMedia">
    <a href="https://www.instagram.com/tntdogexperience"><img src="/_includes/assets/img/ig.svg" alt="" class="socialMediaIcon"></a>
    <a href="https://www.facebook.com/TrueNorthDogTraining"><img src="/_includes/assets/img/fb.svg" alt="" class="socialMediaIcon"></a>
  </div>
  <small>
    &#169 True North Dog Training LLC {% year %}
  </small>
  <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100733685603958");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</footer>
