<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/_includes/assets/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>True North Dog Training - Jacelyn Young</title>
  <meta name="description" content="Jacelyn, ADT–IAABC, is a training coach helping teams find direction with Science-Based, Evidence-informed, &amp; Certified Training! Servicing the Greater Seattle Area">

  <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:title"              content="True North Dog Training" />
  <meta property="og:description"        content="Jacelyn ADT-IAABC is a training coach helping teams find direction with Science-Based, Evidence-informed, &amp; Certified Training!
Servicing Seattle Area" />
  <meta property="og:image"              content="/_includes/assets/img/TrueNorthOGImage" />

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
