<nav>
  <div class="navContainer">
    <div class="pagesContainer">
      {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) -%}
      <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
        <ul>
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      {%- endif -%}
      </li>
      {%- endmacro %}

      <ul>
      {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </div>
    <div class="logo"></div>
    <a href="https://docs.google.com/forms/d/1Pgmaoetyuctum-j0JicVIQ2Si77JlqbMHSs3o43HO_g/" class="noDecoration">
      <button class="book">Book Training</button>
    </a>
  </div>
</nav>
