---
layout: layouts/base.njk
section: home
---

<div class="headerImage">
    <div class="container">
        <div class="headerText">
            <h1>Find Direction</h1>
            <h4>Jacelyn, ADT IAABC,  is a training coach helping teams find direction with Science-Based, Evidence-informed, & Certified Training!
            Servicing the Greater Seattle Area</h4>
        </div>
    </div>
</div>
<section class="topo">
    <div class="container threeup">
        <div class="point">
            <img src="/_includes/assets/img/IAABC.png" alt="">
            <h3>Certified </h3>
            <p>lorem ipsum</p>
        </div>
        <div class="point">
            <img src="/_includes/assets/img/forcefree.png" alt="">
            <h3>Force Free</h3>
            <p>lorem ipsum</p>
        </div>
        <div class="point">
            <img src="/_includes/assets/img/AVSAB.png" alt="">
            <h3>Science Based </h3>
            <p>lorem ipsum</p>
        </div> 
    </div>
</section>
<section class="green">
    <div class="container singlepoint">
        <h2>Serving the Greater Seattle Area</h2>
        <h4>Including Bellevue, Bothell, Redmond, Issaquah, Mill Creek, and More</h4>
    </div>
</section>
<section class="white" id="services">
    <h2 class="title">Services</h2>
    <div class="container fourup">
        <a href="/services/day-training/" class="point">
            <img src="/_includes/assets/img/puppy.jpg" alt="">
            <h5>Day Training</h5>
            <p>Come home to a well trained dog, after they spend the day with us! </p>
            <span class="learnMore link">Learn more</span>
        </a>
        <a href="/services/private-lessons/" class="point">
            <img src="/_includes/assets/img/qatar.jpg" alt="">
            <h5>Private Lesson</h5>
            <p>Manners, Basic &amp; Advanced Obedience, Off Leash goals. Specialty, behavior modification for fearful and aggressive behavior</p>
            <span class="learnMore link">Learn more</span>
        </a>
        <a href="/services/board-and-train/" class="point">
            <img src="/_includes/assets/img/blueorange.jpg" alt="">
            <h5>Board and Train</h5>
            <p>Want to start your new puppy off right? Can’t dedicate the focused time to building new behaviors ? Multi-week board and train packages are available!</p>
            <span class="learnMore link">Learn more</span></a>
        </a>
        <a href="/services/custom/" class="point">
            <img src="/_includes/assets/img/naru.jpg" alt="">
            <h5>Custom </h5>
            <p>Come home to a well trained dog, after they spend the day with us! </p>
            <span class="learnMore link">Learn more</span>
        </a>
    </div>
</section>
<section class="yellow">
    <div class="container singlepoint">
        <h2>Treat.Train.Transform</h2>
        <h4>True North Training elevates animal behavior consulting and training through ethical standards 
        and the effective use of Least Intrusive, Minimally Aversive (LIMA) practices, in partnership with 
        the International Association of Animal Behavior Consultants. </h4>
        <a href="https://docs.google.com/forms/d/1Pgmaoetyuctum-j0JicVIQ2Si77JlqbMHSs3o43HO_g/" class="noDecoration">
            <button class="secondary">Book Training</button>
        </a>
    </div>
</section>

{# {{ layoutContent | safe }} #}