---
layout: layouts/base.njk
section: home
---
<div class="headerImage">
    <div class="container">
        <div class="headerText">
            <h1>Find Direction</h1>
            <h4>Jacelyn, ADT IAABC,  is a training coach helping teams find direction with Science-Based, Evidence-informed, & Certified Training!
            Servicing the Greater Seattle Area</h4>
        </div>
    </div>
</div>
<section class="topo">
    <div class="container threeup">
        <div class="point">
            <img src="" alt="">
            <h3>Certified </h3>
            <p>lorem ipsum</p>
        </div>
        <div class="point">
            <img src="" alt="">
            <h3>Science Based </h3>
            <p>lorem ipsum</p>
        </div>
        <div class="point">
            <img src="" alt="">
            <h3>Force Free</h3>
            <p>lorem ipsum</p>
        </div>
    </div>
</section>
<section class="green">
    <div class="container singlepoint">
        <h2>Treat.Train.Transform</h2>
        <h4>True North Training elevates animal behavior consulting and training through ethical standards 
        and the effective use of Least Intrusive, Minimally Aversive (LIMA) practices, in partnership with 
        the International Association of Animal Behavior Consultants. </h4>
        <button>Our Services</button>
    </div>
</section>
<section class="white">
    <h3 class="title">Services</h3>
    <div class="container fourup">
        <div class="point">
            <img src="" alt="">
            <h5>Day Training</h5>
            <p>Come home to a well trained dog, after they spend the day with us!  </p>
            <a href=""><span class="learnMore">Learn more</span></a>
        </div>
        <div class="point">
            <img src="" alt="">
            <h5>Private Lesson (Manners) </h5>
            <p>Manners, Basic & Advanced Obedience, Off Leash goals </p>
            <a href=""><span class="learnMore">Learn more</span></a>
        </div>
        <div class="point">
            <img src="" alt="">
            <h5>Private Lesson (Behavior)</h5>
            <p>Behavior modification for fearful and aggressive behavior </p>
            <a href=""><span class="learnMore">Learn more</span></a>
        </div>
        <div class="point">
            <img src="" alt="">
            <h5>Custom </h5>
            <p>Need something else? Let’s chat!</p>
            <a href=""><span class="learnMore">Learn more</span></a>
        </div>
    </div>
</section>
<section class="yellow">
    <div class="container singlepoint">
        <h2>Serving the Greater Seattle Area</h2>
        <h4>lorem ipsum</h4>
    </div>
</section>

{# {{ layoutContent | safe }} #}